@import './styles/colors.css';

body {
  background: var(--background-color);
}

h1 {
  font-size: 1.5rem;
}

.nav-header,
.repo-search {
  background: var(--pure-white);
}

.nav-header {
  display: flex;
  justify-content: start;
  border-bottom: 3px solid var(--pure-black);
  .header-container {
    margin: 20px;
    .exeter-logo {
      width: 50px;
    }
  }
}
.repo-search {
  display: flex;
  justify-content: end;
  .search-container {
    margin: 5px 180px;
  }
}

.content-container {
  margin: auto 180px;
}
